{% extends '@nglayouts_admin/app/block/block.html.twig' %}

{% import '@NetgenLayoutsAdmin/app/parts/macros.html.twig' as macros %}

{% trans_default_domain 'nglayouts_app' %}

{% block content %}
    {% set remote_resource_location= block.dynamicParameter('remote_resource_location') %}

    {% if remote_resource_location %}
        <div class="image">
            {% if remote_resource_location.remoteResource.type == 'image' %}
                {{ netgen_layouts_remote_media_block_tag(remote_resource_location, 'admin_preview')|raw }}
            {% elseif remote_resource_location.remoteResource.type == 'video' %}
                {{ netgen_layouts_remote_media_block_tag(remote_resource_location, 'admin_preview', true)|raw }}
            {% elseif remote_resource_location.remoteResource.type == 'audio' %}
                <i class="material-icons" aria-hidden="true">audiotrack</i>
            {% else %}
                <i class="material-icons" aria-hidden="true">insert_drive_file</i>
            {% endif %}
        </div>

        <div class="name">
            <p>{{ remote_resource_location.remoteResource.name }}</p>
        </div>

        <div class="value-type">
            <p>
                Remote media:
                {{ remote_resource_location.remoteResource.type }}

                {% if remote_resource_location.remoteResource.hasMetadataProperty('format') %}
                    / {{ remote_resource_location.remoteResource.getMetadataProperty('format') }}
                {% endif %}
            </p>
        </div>

        <div class="variation">
            <p>
                Variation:
                {% if not block.parameter('variation').isEmpty %}
                    {{ block.parameter('variation').value }}
                {% else %}
                    /
                {% endif %}
            </p>
        </div>
    {% else %}
        {{ macros.notice('block.notice.empty_remote_media'|trans) }}
    {% endif %}
{% endblock %}
