{% extends '@nglayouts_admin/app/block/block.html.twig' %}

{% import '@NetgenLayoutsAdmin/app/parts/macros.html.twig' as macros %}

{% trans_default_domain 'nglayouts_app' %}

{% block content %}
    {% set resource = block.dynamicParameter('resource') %}

    {% if resource %}
        <div class="image">
            {% if resource.type == 'image' %}
                <img src="{{ resource.url }}" />
            {% elseif resource.type == 'video' %}
                {% set thumbnail = ngrm_video_thumbnail(resource).url %}

                {% if thumbnail %}
                    <img src="{{ thumbnail }}" />
                {% else %}
                    <i class="material-icons" aria-hidden="true">audiotrack</i>
                {% endif %}
            {% else %}
                <i class="material-icons" aria-hidden="true">insert_drive_file</i>
            {% endif %}
        </div>

        <div class="name">
            <p>{{ resource.remoteId }}</p>
        </div>

        <div class="value-type">
            <p>
                Remote media:
                {{ resource.type }}

                {% if resource.metaData.format is defined and resource.metaData.format %}
                    / {{ resource.metaData.format }}
                {% endif %}
            </p>
        </div>

        <div class="variation">
            <p>
                Variation:
                {% if not block.parameter('variation').isEmpty %}
                    {{ block.parameter('variation').value }}
                {% else %}
                    /
                {% endif %}
            </p>
        </div>
    {% else %}
        {{ macros.notice('block.notice.empty_remote_media'|trans) }}
    {% endif %}
{% endblock %}
